.quoteContainer{
    display: flex;
    flex-direction: row;
}

.dividingLine{
    width: 1.5px; 
    background-color: #ddd; 
    margin-top: 10px; 
    margin-bottom: 0px;
}

.quoteText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.quoteMain{
    padding-left: 10px;
    width: 80%;
}

.quoteMain > .quoteAuthor{
    padding-left: 15px;
}

.voteContainer{
    text-align: center;
}

.quoteVoteContainer{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    height: 100%;
    width: 70%;
    margin-top: 7%;
    margin-left: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
}

.quoteContainer{
    border-radius: 4px;
    margin: 3px 0px;
}


/* Styling for the phone */
@media only screen and (min-width: 360px) and (max-width: 640px) { 
    /* Here are some changes*/
    .container{
        height: 100%;
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
    }
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    
    .quoteVoteContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 641px) and (max-width: 880px) { 
    /* Here are some changes*/
    .container{
        height: 100%;
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
    }
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    
    .quoteVoteContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}

/* Styling for the phone */
@media only screen 
    and (min-width: 881px)
    and (max-width: 1200px) { 
    /* Here are some changes*/
    /* Here are some changes*/
    .container{
        height: 100%;
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
    }
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    
    .quoteVoteContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
}