<div class="container">
    <div class="loginHeader">
        <p>About</p>
    </div>
    <div class="mainAboutSection">
        <p>Quotes is a simple web application where you can share quotes with other people from around the world. Inspirational, motivational, friendship, beauty and many other types of quotes can be shared on the site.</p>
        <p><br>So create an account and start sharing with others or check out some of the quotes that others have shared.</p>
        <p><br>No user data is being collected.</p>
    </div>
    <footer class="loginFooter" >
        <div class="divider" [ngStyle]="{'margin-bottom':'25px'}"></div>
        <p>Copyright &copy; 2022</p>
    </footer>    
</div>
