

.headerContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    overflow: hidden;
}

.homeIcon{
    margin-left: 20px;
    margin-right: 10px;
    padding: 0px 10px;
}

.homeIcon:hover{
    cursor: pointer;
    text-decoration: underline;
}

.navOptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px 20px;
}

.navOptions div{
    margin: 0px 20px;
}

.newQuote{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ff5722;
    height: 70%;
    border-radius: 50px;
    padding: 0px 15px;
    color: #fff;
}

.about{
    padding: 0px 25px; 
    border-radius: 50px;
}

.navOptions div:hover{
    cursor: pointer;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
}

.navOptions div:active{
    background-color: rgba(0,0,0,0.4);
    color: #fff;
}

.newQuote h2+p{
    margin-left: 10px;
}