.quoteContainer{
    display: flex;
    flex-direction: row;
}

.quotesListContainer{
    background-color: #fff;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2);
    margin: 10px 20px;
    padding: 0px 10px;
    border-radius: 4px;
}

.quoteText{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: large;
}

.quoteMain{
    padding-left: 10px;
    width: 80%;
}

.quoteMain > .quoteAuthor{
    padding-left: 15px;
}

.voteContainer{
    text-align: center;
}

.quoteVoteContainer{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container{
    height: 100%;
    width: 70%;
    margin-top: 7%;
    margin-left: 10%;
    left: 0;
    display: flex;
    flex-direction: column;
}

.quotesListContainer:hover{
    cursor: pointer;
}

.btn {
    display: inline-block;
    background: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}

.btn-block {
    margin-top: 20px;
    width: 75%;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Styling for the phone */
@media screen 
  and (min-device-width: 360px) 
  and (max-device-width: 640px) { 
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
    }
    .quotesListContainer{
        display: flex;
        flex-direction: row;
    }
}