<div class="container">
    <div class="quotesListContainer" *ngFor="let quote of allQuotesArray; let i = index; ">
        <app-quotecollapsed [mostUpvotedQuoteIndex]="mostUpvotedQuoteIndex" [quote]="quote" [index]="i" (onToggleQuoteView)="toggleQuoteDetails($event)"></app-quotecollapsed>
        
        <app-quotedetails (onDeleteQuoteRequest)="deleteQuote($event)" (onToggleQuoteView)="toggleQuoteDetails($event)" [username]="thename" [quote]="quote" [index]="i" (onUpdateVoteCount)="updateVoteCount($event)"></app-quotedetails>
    </div>
</div>