.quoteContainer{
    display: flex;
    flex-direction: row;
}

.quoteMain{
    padding-left: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.voteContainer{
    text-align: center;
}

.quoteVoteContainer{
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.btn {
    display: inline-block;
    background: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.deletebtn {
    display: inline-block;
    background: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}

.btn-block {
    margin-top: 20px;
    width: 75%;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* Styling for the phone */
@media only screen and (max-width: 640px) { 
    /* Here are some changes*/
    .container{
        height: 100%;
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
    }
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    
    .quoteVoteContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .deletebtn {
        display: inline-block;
        background: #fff;
        color: #ff5722;
        border: none;
        padding: 10px 30px;
        margin: 5px;
        border-radius: 50px;
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        font-family: inherit;
    }
    .deletebtn:hover{
        text-decoration: underline;
    }
}

/* Styling for the phone */
@media only screen and (min-width: 641px) and (max-width: 880px) { 
    /* Here are some changes*/
    .container{
        height: 100%;
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
    }
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    
    .quoteVoteContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .deletebtn {
        display: inline-block;
        background: #fff;
        color: #ff5722;
        border: none;
        padding: 10px 30px;
        margin: 5px;
        border-radius: 50px;
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        font-family: inherit;
    }
    .deletebtn:hover{
        text-decoration: underline;
    }
}

/* Styling for the phone */
@media only screen 
    and (min-width: 881px)
    and (max-width: 1200px) { 
    /* Here are some changes*/
    /* Here are some changes*/
    .container{
        height: 100%;
        width: 70%;
        margin-top: 15%;
        margin-left: 10%;
        left: 0;
        display: flex;
        flex-direction: column;
    }
    .quoteMain{
        padding-left: 10px;
        width: 100%;
        padding-right: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .quoteContainer{
        display: flex;
        flex-direction: column;
    }
    
    .quoteVoteContainer{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .deletebtn {
        display: inline-block;
        background: #fff;
        color: #ff5722;
        border: none;
        padding: 10px 30px;
        margin: 5px;
        border-radius: 50px;
        cursor: pointer;
        text-decoration: none;
        font-size: 16px;
        font-family: inherit;
    }
    .deletebtn:hover{
        text-decoration: underline;
    }
}