:root{
    --accent-color:#FF5722;
}

.newQuoteForm{
    position: fixed;
    bottom: 0;
    right: 0;
    padding-bottom: 20px;
    margin-right: 20px;
}

.appHeader{
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.appHeader + .router {
    padding-top: 60px;
}

.router {
    padding: 16px;
}