* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
  
.container {
    width: 30%;
    margin: 30px auto;
    overflow: auto;
    min-height: 50vh;
    border: 1px solid #ddd;
    box-shadow: 0 5px 10px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
}

.loginFooter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
}

.loginForm{
    padding: 30px;
}

.loginHeader{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--accent-color);
    font-size: 20px;
    overflow: auto;
    color: #fff;
    padding: 30px;
    font-weight: bold;
}

.btn {
    display: inline-block;
    background: #ff5722;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 15px;
    font-family: inherit;
}

.btn:focus {
    outline: none;
}
.btn:active {
    transform: scale(0.98);
}

.btn-block {
    margin-top: 20px;
    width: 75%;
}

.btnContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.form-control {
    margin: 20px 0;
}

.form-control label {
    display: block;
    margin-left: 10px;
}
  
.form-control input {
    width: 100%;
    height: 40px;
    margin: 5px;
    padding: 3px 20px;
    font-size: 17px;
    border-radius: 50px;
    border-width: 0.05px;
}
  
.form-control input:focus{
    outline: none;
}

  