/* You can add global styles to this file, and also import other style files */
:root{
    --accent-color:#FF5722;
}
.divider{
    height: 0.1px;
    width: 100%;
    background-color: #ddd;
}

a:visited{
    color: var(--accent-color);
}

